@model Supa_Web.Models.GoodsListModel

@{
    ViewBag.Title = "商品列表";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
}

<div class="col-md-3 column">
    <div class="list-group">
        @foreach (var types1 in Model.Types1)
        {
            <div class="list-group-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">@types1.Class1<strong class="caret"></strong></a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var types2 in Model.Types2)
                    {
                        if (types2.Class1 == types1.Class1)
                        {
                            <li class="menu-item dropdown dropdown-submenu">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">@types2.Class2</a>
                                <ul class="dropdown-menu">
                                    @foreach (var types3 in Model.Types3)
                                    {
                                        if (types3.Class2 == types2.Class2)
                                        {
                                            <li>
                                                @Html.ActionLink(types3.Class3, "GoodsList", "Home", new { allGoods = "False", type3 = @types3.Class3 }, null)
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    </div>
</div>
<div class="col-md-1 column"></div>
<div class="col-md-8 column">
    <div class="panel-group">
        @foreach (var good in Model.Good)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" href="#panel-element-@good.GoodID.ToString().Trim()" data-toggle="collapse">
                        @{
            double price = 0;
            string market = "USTC";
            foreach (var inventory in @good.Inventories)
            {
                price = (double)inventory.Price;
                market = inventory.MarketName;
            }
                        }@good.GoodName
                    </a>
                    <div class="pull-right">
                        <div class="btn btn-sm btn-warning disabled">
                            价格：￥@price
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" , onclick="location.href='@Url.Action("AddGood", "Account", new { GoodID = @good.GoodID, Market = @market })'">
                            <span class="glyphicon glyphicon-star"></span>
                            加入购物车
                        </button>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="panel-element-@good.GoodID.ToString().Trim()">
                    <div class="panel-body">
                        <img src="~/Content/img/@(good.GoodID.ToString().Trim()).jpg" />
                        @if (good.GoodID.ToString().Trim() == "1010010002")
                        {
                            <p>
                                方倩玉小时候最爱喝的饮料，她相信这能帮她长高。
                            </p>
                        }
                        @if (good.GoodID.ToString().Trim() == "1010010003")
                        {
                            <p>
                                听说不是所有牛奶都叫特仑苏，奶牛们到现在还在为这件事情争吵。
                            </p>
                        }
                        @if (good.GoodID.ToString().Trim() == "1010010004")
                        {
                            <p>
                                家里的乳品专家有妈妈一个就够了。
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination">
        @if (@Model.CurrentPage != 1)
        {
            <li>
                @Html.ActionLink("第一页", "GoodFirstPage", "Home")
            </li>
            <li>
                @Html.ActionLink("上一页", "GoodPreviousPage", "Home")
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#">第一页</a>
            </li>
            <li class="disabled">
                <a href="#">上一页</a>
            </li>
        }
        <li class="disabled">
            <a href="#">
                当前页：@Model.CurrentPage
            </a>
        </li>
        <li class="disabled">
            <a href="#">
                总页数：@Model.PageNumber
            </a>
        </li>
        @if (@Model.CurrentPage != @Model.PageNumber)
        {
            <li>
                @Html.ActionLink("下一页", "GoodNextPage", "Home")
            </li>
            <li>
                @Html.ActionLink("最后一页", "GoodLastPage", "Home")
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#">下一页</a>
            </li>
            <li class="disabled">
                <a href="#">最后一页</a>
            </li>
        }
    </ul>
</div>
