<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SUPA</title>
</head>

<body>
    <div>
        @if (ViewBag.LogInState)
        {
            @Html.ActionLink("欢迎，" + (String)ViewBag.UserName, "Account", "Account");
            @Html.ActionLink("注销", "LogOff", "Account");
        }
        else
        {
            @Html.ActionLink("登录", "LogIn", "Account");
            @Html.ActionLink("注册", "Register", "Account");
        }
    </div>
    <div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>

</html>
