@model Supa_Web.Models.CartModel

@{
    ViewBag.Title = "购物车";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>购物车</h2>
<h3>总金额：@Model.TotalAmount</h3>

<ul>
    @foreach (var order in Model.Orders)
    {
        <li>
            <ul>
                <li>
                    商品名：@order.Inventory.Good.GoodName
                </li>
                <li>
                    数量：@order.Amount
                </li>
                @if (order.Amount != 1)
                {
                    <li>
                        @Html.ActionLink("数量减一", "ChangeOrderNumber", "Account", new { Plus = false, GoodName = @order.Inventory.Good.GoodName}, null)
                    </li>
                }
                <li>
                    @Html.ActionLink("数量加一", "ChangeOrderNumber", "Account", new { Plus = true, GoodName = @order.Inventory.Good.GoodName }, null)
                </li>
                <li>
                    @Html.ActionLink("删除", "CartDelete", "Account", new { GoodName = @order.Inventory.Good.GoodName }, null)
                </li>
            </ul>
        </li>
    }
</ul>
<ul>
    <li>
        当前页数：@Model.CurrentPage
    </li>
    <li>
        总页数：@Model.PageNumber
    </li>
    @if (@Model.CurrentPage != 1)
    {
        <li>
            @Html.ActionLink("第一页", "CartFirstPage", "Account")
        </li>
        <li>
            @Html.ActionLink("上一页", "CartPreviousPage", "Account")
        </li>
    }
    @if (@Model.CurrentPage != @Model.PageNumber)
    {
        <li>
            @Html.ActionLink("下一页", "CartNextPage", "Account")
        </li>
        <li>
            @Html.ActionLink("最后一页", "CartLastPage", "Account")
        </li>
    }
</ul>