@model Supa_Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "修改密码";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>修改密码</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.OldPassword, "旧密码")
        @Html.PasswordFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model => model.OldPassword)
    </p>
    <p>
        @Html.LabelFor(model => model.NewPassword, "新密码")
        @Html.PasswordFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </p>
    <p>
        @Html.LabelFor(model => model.ConfirmPassword, "确认密码")
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </p>
    <p>
        <input type="submit" value="确认修改" />
    </p>
}