@model Supa_Web.Models.RegisterModel

@{
    ViewBag.Title = "注册";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
}

<div class="col-md-4">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "用户名")
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "密码")
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, "确认密码")
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <input class="btn btn-primary" type="submit" value="注册" />
    }
</div>
<div class="colmd-8"></div>